#popup{
  background: #000000c9;
  padding: 5px;
  .quiz_section{
    background: #292F35;
    .popup_header{
      height: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;

      .close {
        position: absolute;
        right: 7px;
        width: 24px;
        height: 28px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        right: 7px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: #fff;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

    }
  }
}

.quiz{
  // background: #2d2b21;
  #quizQuestion{
      background: black;
      color: white;
      padding: 15px;
      line-height: 20px;
      vertical-align: middle;
      position: relative;
      font-size: 14px;

  }
  
  #list{
    padding: 10px 20px 10px 20px;
      list-style-type: none;
      .listOption{
          // width: 70%;
          text-align: center;
          padding: 10px;
          color: white;
          font-size: 14px;
          background: #27272d;
          border: 10px solid #f2f4f7;
          border-radius: 56px;
          cursor: pointer;
      }
      #listOption:hover{
          background: #222222;
          font-size: 15px;
          transition: .3s;
      }
  }
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292f35;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292f43;
}


#question {
  margin-bottom: 30px;
  
}
.bg {
  // background-image: url(../../../../../assets/img/Outer/outer.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #2d2b21;
  animation: opac .5s;

  // position: relative;
}
@keyframes opac {
  from{
      opacity: 0;
  } to {
      opacity: 1;
  }
}

@media (max-width: 767px){
.bg{
  background-position: top center;
    background-size: contain;
}
}

#submit {
  margin-top: 15px;
  text-transform: uppercase;
  min-width: 100px;
  min-height: 60px;
  border-radius:50px;
  font-weight: bold;   
}

.list>div {
  color: white;
  margin-bottom: 10px;
  padding: 25px;
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50px;
}
.list>div:hover {
  background-color: rgba(255, 255, 255, 0.25);

}



.questions.wrong,
.questions.wrong:hover{
  background-color: red;
}

.questions.correct,
.questions.correct:hover{
  background-color: green;
}
