<div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="chat_section">
        <div class="popup_header">
          <h6>Honeywell Feedback Form</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>

        <iframe src="https://forms.gle/bJLEsiJUpLHgx4vn6" frameborder="0" width="100%" height="550"></iframe>
        <!-- <div class="container-fluid" style=" background: #f2f4f7;">
         <form [formGroup]="ratingForm" *ngIf="!show">
          <div class="form-row">
              <div class="form-group col-sm-8 mt-2">
                 <h6 class="mb-0">Rate your exprience</h6>
              </div>
              <div class="form-group col-sm-4 mt-2 text-center">
                  <h6 class="mb-0">5 being the highest</h6>
              </div>
          </div>
          <div class="form-row pt-3" *ngFor="let feed of feedbackList, let i = index">
            <div class="form-group col-sm-12">
              {{feed.title}}<span style="color: crimson;font-size: large;"> *</span>
            </div>
            <div class="form-group col-sm-12">
                <textarea type="text"  class="form-control" placeholder="Enter Your Answer" id="agenda" formControlName="agenda" ></textarea>
            </div>
        </div>

        <div class="form-row" *ngFor="let rating of ratingList, let i = index">
          <div class="form-group col-sm-12">
             {{rating.title}}<span style="color: crimson;font-size: large;"> *</span>
          </div>
          <div class="form-group col-sm-12 text-left">
            <div class="form-check-inline rate" *ngFor="let radio of [1, 2, 3, 4, 5]">
              <input class="form-check-input" type="radio" name="gridRadios + {{rating.title}}" id="gridRadio + {{radio}}" value="{{radio}}" (change)="radioValue($event.target.value, rating.id)" >
              <label class="form-check-label" for="gridRadios+{{radio}}" >
               {{radio}}
              </label>
            </div>
            
          </div>
      </div>
         
          <hr>
          <div class="form-row">
              <div class="form-group col-sm-6 mt-2">
                 <h6 class="mb-0">Any recommendation on...</h6>
              </div>
              <div class="form-group col-sm-6 mt-2">
                  <h6 class="mb-0">Remarks</h6>
              </div>
          </div>
          
          <div class="form-row">
            <div class="form-group col-sm-6 offset-sm-3">
                <button type="submit" class="btn btn-danger btn-block" (click)="submitFeedback()">Submit</button>
            </div>
        </div>
          <div class="form-row" >
            <div class="form-group col-sm-6">
              Registration Process
            </div>
            <div class="form-group col-sm-6">
                <input type="text"  class="form-control" placeholder="Write here" id="registration" formControlName="password" >
            </div>
        </div>
        <div class="form-row" >
          <div class="form-group col-sm-6">
            Event Promotion
          </div>
          <div class="form-group col-sm-6">
              <input type="text"  class="form-control" placeholder="Write here"id="event" formControlName="password" >
          </div>
        </div>
          
         </form>
         <div *ngIf="show"> 
          <h3 class="text-center p-5">Your Feedback Successfully Submitted</h3>
         </div>
        </div> -->
      </div>
    </div>
  </div>

  <!-- <div class="container-fluid" id="popup">
    <div class="row" >
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6>conference Feedback</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <div class="container-fluid" style="background: #c5c5c5; height: 300px !important;">
            <div class="row" >
              <div class="col-md-12 col-xl-12 pl-0 pr-0 pb-0">
                <embed src="../../../assets/img/feedback.jpeg" frameborder="0"
                width="100%">
  
  
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    </div> -->
  