
#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
        text-transform: uppercase;
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
        
      }
    }
    .form-control{
        background: transparent;
        font-size: inherit;
    }
  }
  
 
//   .rate {
//     float: left;
//     height: 46px;
//     padding: 0 20px;
// }
// .rate:not(:checked) > input {
//     position:absolute;
//     top:-9px;
// }
// .rate:not(:checked) > label {
//     float:right;
//     width:1em;
//     overflow:hidden;
//     white-space:nowrap;
//     cursor:pointer;
//     font-size:30px;
//     color:#ccc;
// }
// .rate:not(:checked) > label:before {
//     content: '★ ';
// }
// .rate > input:checked ~ label {
//     color: #3c5dcf;    
// }
// .rate:not(:checked) > label:hover,
// .rate:not(:checked) > label:hover ~ label {
//     color: #3c5dcf;  
// }
// .rate > input:checked + label:hover,
// .rate > input:checked + label:hover ~ label,
// .rate > input:checked ~ label:hover,
// .rate > input:checked ~ label:hover ~ label,
// .rate > label:hover ~ input:checked ~ label {
//     color: #3c5dcf;
// }
.btn-danger{
  border-color: #3c5dcf;
  background-color: #3c5dcf;
}
.form-group{
  margin-bottom: 0.5rem;
}