.bg {
  background-image: url(../../../assets/serdia_myanmar/images/helpdesk.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // background-color: #464646;

  width: 100%;
  height: 100vh;
  // position: relative;
}
.reception {
  .pulsating-circle{
      position: absolute;
      bottom: 17%;
      left: 51%;
      cursor: pointer;
  }
}
.auditorium-left {
  .pulsating-circle{
      position: absolute;
      top: 37%;
      left: 23%;
      cursor: pointer;
  }
}
.auditorium-right {
  .pulsating-circle{
      position: absolute;
      top: 37%;
      right: 23%;
      cursor: pointer;
  }
}
.exhibition-hall {
  .pulsating-circle{
      position: absolute;
      top: 55%;
      left: 36%;
      cursor: pointer;
  }
}
.registraion-desk {
  .pulsating-circle{
      position: absolute;
      top: 55%;
      left: 55%;
      cursor: pointer;
  }
}
.networking-lounge {
  .pulsating-circle{
      position: absolute;
      top: 55%;
      right: 36%;
      cursor: pointer;
  }

}
.agenda {
  .pulsating-circle{
      position: absolute;
      top: 59%;
      right: 19%;
      cursor: pointer;
  }

}
.askqa {
  .pulsating-circle{
      position: absolute;
      top: 57%;
      right: 51%;
      cursor: pointer;
  }

}
.contacts{
  .pulsating-circle{
    position: absolute;
    top: 57%;
    right: 40%;
    cursor: pointer;
}
}
.heighlights {
  .pulsating-circle{
      position: absolute;
      top: 57.5%;
      left: 24.5%;
      cursor: pointer;
  }

}
section{
  position: relative;
  .content-wrap {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: auto;
    position: relative;
    .loby-bg{
      position: relative;
        width: 100%;
        height: 100%;
        display: block;
        img{
          width: 100vw;
          height: 110vh;
        }
    }
  } 
}
.playScreen{
  position: absolute;
  top: 10%;
  left: 39.9%;
  video{
      position: absolute;
      background: black;
      padding: 2px;
      width: 21.5vw;
      height: 20.5vh;
      // border-radius: 5px;
  }
  img{
      padding: 2px;
      width: 20.3vw;
      height: 23.7vh;
      background: black;
      border-radius: 5px; 
      cursor:pointer;
  }
}

#popup{
  background: #000000c9;
  padding: 5px;
  .chat_section{
    background: #292F35;
    .popup_header{
      height: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;

      .close {
        position: absolute;
        right: 7px;
        width: 24px;
        height: 28px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        right: 7px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: #fff;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

    }
  }
}