<section class="sectionBgnew">
    <div class="content-wrap">
        <div class="content loby-content">
            <div [ngStyle]="{'display':showVideo ? 'none': 'block'}" class="img-fluid">
                <!-- <div class="bg"></div> -->
                <div class="loby-bg">
                    <img src="assets/honeywell/lobby.jpg" width="100%" alt="audi">
                    <!-- <video src="https://gskamm2021.virtualxp.live/videos/lobby-video.mp4" width="100%" loop autoplay></video> -->
                </div>
                <div class="reception" (click)="playReception();stepUpAnalytics('click_helpdesk')">
                    <div class="pulsating-circle" id="reception_pulse"></div>
                </div>
                <!-- <div class="key_portfolio" (click)="gotoKeyPortfolio();stepUpAnalytics('click_Scientific_Posters')">
                    <div class="pulsating-circle" id="frontaudi_pulse"></div>
                </div> -->
                <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                    <div class="alert alert-success " role="alert">
                        The session is Live now, please join us at the auditorium.
                    </div>
                </div>
                <div class="playScreen">
                    <div> 
                        <!-- <video id="video" preload="auto" autoplay src="../../../assets/video/brand.mp4"
                           (ended)="endPlayscreen()" controls>
                        </video> -->
                        <video id="video" preload="auto" autoplay src="https://d3ep09c8x21fmh.cloudfront.net/honeywell/lobby-animation.mp4"
                           loop controls>
                        </video>
                    </div>
                    <!-- <div *ngIf="showPoster">
                        <img src="../../../assets/serdia_myanmar/images/playScreen.jpg" (click)="playScreenOnImg()" alt="">
                    </div> -->
                    <!-- <img src="../../../assets/serdia_myanmar/images/playScreen.jpg" (click)="openModalVideo()" alt=""> -->
                </div>
                <!-- <div class="playmodalvideo">
                    <div id="light">
                        <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
                        <video id="VisaChipCardVideo" src="../../../assets/video/brand.mp4" width="600" controls>
                        </video>
                    </div>
                    <div id="fade" (click)="lightbox_close();"></div>
                    <div class="video" title="Play Video" (click)="lightbox_open();">
                    </div>
                </div> -->
                <div class="auditorium-left" (click)="playAuditoriumLeft();stepUpAnalytics('auditorium_205002')">
                    <div class="pulsating-circle" id="audLeft_pulse"></div>
                </div>
                <div class="auditorium-right" (click)="playAuditoriumRight();stepUpAnalytics('click_game')">
                    <div class="pulsating-circle" id="audRight_pulse"></div>
                </div>
                <div class="exhibition-hall">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="playExhibitionHall();stepUpAnalytics('click_exhibition')"></div>
                </div>
                <!-- <div class="registraion-desk" (click)="playRegistrationDesk()">
                        <div class="pulsating-circle" id="regDeskvideo" ></div>
                    </div> -->
                <div class="networking-lounge" (click)="playNetworkingLounge();stepUpAnalytics('click_photobooth')">
                    <div class="pulsating-circle" id="networking_pulse"></div>
                </div>

                <div class="agenda" data-toggle="modal" data-target=".feebackModal" (click)="stepUpAnalytics('click_feedback');">
                    <div class="pulsating-circle" id="agenda_pulse">

                    </div>
                </div>
                <div class="heighlights" data-toggle="modal" data-target=".agendaModal" (click)="stepUpAnalytics('click_agenda')">
                    <div class="pulsating-circle" id="heighlight_pulse">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div [ngStyle]="{'display':receptionEnd ? 'block': 'none'}" class="videoContainer">
    <video id="recepVideo" class="videoBg" (ended)="receptionEndVideo()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/honeywell/helpdesk.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumLeft ? 'block': 'none'}" class="videoContainer">
    <video id="audLeftvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumLeftOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/honeywell/auditorium.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumRight ? 'block': 'none'}" class="videoContainer">
    <video id="audRightvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumRightOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/honeywell/game.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':exhibitionHall ? 'block': 'none'}" class="videoContainer">
    <video id="exhibitvideo" preload="auto" class="videoBg" (ended)="gotoExhibitionHallOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/honeywell/exhibition.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':registrationDesk ? 'block': 'none'}" class="videoContainer">
    <video id="regDeskvideo" preload="auto" class="videoBg" (ended)="onEndKeyPortfolio()">
        <source src="assets/lilly/animations/Scientific_Posters.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':networkingLounge ? 'block': 'none'}" class="videoContainer">
    <video id="netLoungevideo" preload="auto" class="videoBg" (ended)="gotoNetworkingLoungeOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/honeywell/photobooth.mp4" type="video/mp4">
    </video>
</div>

<!-- <div id="light">
    <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
    <video id="VisaChipCardVideo"[src]="videoUrl" autoplay width="600" controls>
       
      </video>
  </div>
  <div id="fade" (click)="lightbox_close();"></div> -->

<div class="modal fade yvideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>

<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closeModalVideo" (click)="closeModalVideo()">&times;</div>
                    <video id="video" preload="auto" src="../../../assets/video/brand.mp4" width="100%" controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade NoFeedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                              <h6>Virtual NSC Feedback Form</h6>
                              <a class="close" (click)="closePopuptwo()"></a>
                            </div>
                            <div class="container-fluid" style=" background: #f2f4f7;">
                        <h4 class="text-center p-5">Your Feedback Successfully Submitted</h4>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>