<div class="container-fluid" [ngStyle]="{'display':videoPlay? 'none': 'block'}">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xl-12 px-0 d-xs-block d-sm-block d-md-block d-xl-block">
      <img src="assets/honeywell/login.jpg" class="login-img" alt="login image">
      <div class="login-section-wrapper">
        <div style="color: red; text-align: center; line-height: 32px; font-weight: 600" *ngIf="msg">{{msg}}</div>
        <div class="brand-wrapper">
          <img src="assets/honeywell/honeywell.png" style="width: 100px;" alt="logo">
        </div>
        <div class="login-wrapper mt-5 mb-5 pt-5 pb-5">
          <!-- <h1 class="login-title">Sign In</h1> -->
          <form [formGroup]="profileForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
            <!-- <form [formGroup]="loginForm" #formDir="ngForm"> -->
            <div class="form-group">

              <!-- <label for="email">Email</label> -->

              <div class="input-field">
                <!-- <input type="text"  class="form-control" required autocomplete="off" formControlName="name" placeholder="Name"> -->
              <input type="text"  class="form-control" required autocomplete="off" formControlName="email" placeholder="Registered Email ID">
              <!-- <input type="text"  class="form-control" required autocomplete="off" formControlName="pass" placeholder="Password"> -->
              </div>


            </div>
            <!-- <div class="form-group mb-4">
              <label for="password">Password</label>

              <input type="password" name="password" id="password" required class="form-control" placeholder="enter your passsword"
                formControlName="password">
            </div> -->
            <!-- <h6 *ngIf="text">Login will open after 6AM</h6> -->
            <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
          </form>
          <!-- <p class="login-wrapper-footer-text">you don't have an account? <a routerLink="/signup" class="text-reset">Register</a></p> -->
        </div>
        <div class="brand-wrapper text-center">
          <img src="assets/honeywell/log.png"  alt="logo">
        </div>
      </div>
    </div>
  </div>
</div>
<div [ngStyle]="{'display':videoPlay? 'block': 'none'}" class="videoContainer">
      <video id="myVideo" preload="auto" class="videoBg" (ended)="endVideo()">
          <!-- <source src="assets/lilly/animations/Oute_Animation.mp4" type="video/mp4"> -->
            <source src="https://d3ep09c8x21fmh.cloudfront.net/honeywell/login_honeywell.mp4" type="video/mp4">
        </video>
</div>
<div>
  <!-- <div id="potrait" *ngIf="videoPlay && potrait">
    <img src="../../assets/img/rotate.gif" alt="">
    <p>Switch to Landscape view</p>
  </div> -->
</div>
<!-- <main>
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12  px-0 d-none d-sm-block">
        <img src="../../assets/img/h-about.jpg" alt="login image" class="login-img">
        <div class="login-section-wrapper">
          <div class="brand-wrapper">
            <img src="assets/img/logo.png" height="50" alt="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Sign In</h1>
            <form [formGroup]="loginForm">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" formControlName="email" placeholder="email@example.com">
              </div>
              <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required class="form-control" placeholder="enter your passsword"
                  formControlName="password">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" (click)="login()" type="button" value="Login">
            </form>
            <a href="#!" class="forgot-password-link">Forgot password?</a>
            <p class="login-wrapper-footer-text">you have an account? <a href="#!" class="text-reset">Signin here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> -->