<div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="chat_section">
        <div class="popup_header">
          <h6>May I Help You?</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>
        <div class="container-fluid" style="  background: #f2f4f7;">
          <h6 style="text-align: center; padding-top: 5px; color: green; font-weight: 800;" *ngIf="msg">{{msg}}</h6>
          <div class="row pt-2">
            <div class="col-md-12 col-xl-12 pl-0">
              <div class="chat_box">
                <ul class="chat_message" id="chat_messagedd">
                  <li class="chat_messageList" *ngFor="let qa of qaList">
                    <div class="img_avatar"> <img src="assets/img/default_avatar.png" alt=""></div>
                    <p>
                      <span class="person">
                        <a href="javascript:void(0);" class="checkProfile">{{qa.question}}</a>
                      </span>
                      <!-- <span class="time">{{chat.created | date: 'medium'}}</span> -->
                    </p>
                    <!-- <div class="img_avatar"> <img src="../../../assets/img/default_avatar.png" alt=""></div> -->
                    <div class="text_message"> <img src="assets/img/customer_support.png" *ngIf="qa.answer" alt="" height="25px" width="20px"> &nbsp; &nbsp;{{qa.answer}}</div>
                  </li>
                </ul>
              </div>
              <div class="message_input">
                  <textarea name="message" autocomplete="off" placeholder="Enter your question" [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                </div>
                <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;" (click)="postQuestion(textMessage.value)">Submit</button>
            </div>
            <!-- <div class="col-md-1 col-xl-1">
              <div class="online_chat"></div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
