#pointer{
  position: absolute;
  top: 47%;
  left: 59.5%;
  width: 5%;
  height: 5%;
  cursor: pointer;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
#wholeCam{
  #camImg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  #videobgStream{
      width: 100%;
  }
  
}
#buttons{
  text-align: center;
  justify-content: center;
  width: 100%;
  img{
      padding: 15px;
      cursor: pointer;
  }
}
.modal-content{
  border: 2px solid crimson;
  border-radius: 25px;
  .modal-header{
    border-radius: 0;
    margin-top: 32px;
    background: crimson;
    .close{
      color: white;
      opacity: 1;
      outline: none;
    }
  }
}