<span id="back">
    <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
        BACK</a>
</span>

<section style="position: relative !important;">
    <div id="content">
        <div id="content_wrap">
            <div id="bg">
                <img src="assets/honeywell/poster.jpg" alt="">
            </div>
            <div id="player_sec">
                <vg-player>
                    <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                        <vg-play-pause></vg-play-pause>
                        <vg-time-display></vg-time-display>
                        <!-- <vg-playback-button></vg-playback-button> -->
                        <vg-mute></vg-mute>
                        <vg-volume></vg-volume>
                        <vg-fullscreen></vg-fullscreen>
                    </vg-controls>
                    <vg-buffering></vg-buffering>
                    <video #myMedia [vgMedia]="myMedia" preload="auto" [vgHls]="this.stream"
                        poster="assets/honeywell/poster.jpg" autoplay="true" vg-responsive="true" type="video/mp4">

                    </video>
                </vg-player>
            </div>
            <div id="listItems">
                <ul>
                    <li>
                        <a (click)="likeopen('like')"><img src="assets/honeywell/like.png" width="40px" alt=""></a>
                    </li>
                    <li>
                        <a (click)="likeopen('claps')"><img src="assets/honeywell/claps.png" width="40px" alt=""></a>
                    </li>
                    <li>
                        <a (click)="likeopen('heart')"><img src="assets/honeywell/heart.png" width="40px" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>
<div class="container-fluid" style="background-color: red;z-index: 9999999999;">
    <div class="row">
        <div class="animation-part">
            <section class="sticky">
                <div class="bubbles" *ngIf="like">
                    <div class="bubble"> <img [src]="imag" alt="" srcset=""> </div>
                    <div class="bubble"> <img [src]="imag" alt="" srcset=""> </div>
                    <div class="bubble"> <img [src]="imag" alt="" srcset=""> </div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"></div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"></div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"></div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"><img [src]="imag" alt="" srcset=""></div>
                    <div class="bubble"><img [src]="imag" alt="" srcset=""></div>

                </div>
            </section>
        </div>
    </div>
</div>
<div class="rightMenu">


    <ul class="list-unstyled">
        <li>
            <a data-toggle="modal" data-target=".ballroomQuestionModal"><img src="assets/icons/chat-h.png" alt="">
                <div>Ask Question</div>
            </a>
        </li>

    </ul>
    <!-- <ul class="list-unstyled">
         <div id="clap">
            <audio id="myAudioClap">
                <source src="assets/img/applause.wav" type="audio/wav">
                <source src="assets/img/applause.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <a (click)="playAudioClap()" type="button">
                <img style="width: 44px;" src="assets/img/hand.png" alt="">
            </a>
        </div>
    </ul> -->
    <!-- <ul class="list-unstyled">
        <li>
            <a data-toggle="modal" data-target=".pollModal"><img src="assets/icons/first-floor-h.png" alt="">
                <div>Quiz</div>
            </a>
        </li>
    </ul> -->
    <!-- <ul class="list-unstyled">
        <li>
            <a (click)="openGroupChat()"><img src="assets/icons/chat-h.png" alt="">
                <div>Group Chat</div>
            </a>
        </li>
    </ul> -->
    <!-- <ul class="list-unstyled">
              <li>
                  <a data-toggle="modal" data-target=".pollModal"><img src="assets/icons/navigation-h.png" alt="">
                      <div>Poll</div>
                  </a>
              </li>
          </ul> -->
    <!-- <ul class="list-unstyled">
              <li> <a data-toggle="modal" data-target=".feebackModal"><img src="assets/icons/contact-h.png" alt="">
                      <div>Feedback</div>
                  </a>
              </li>
          </ul> -->

</div>

<!-- groupchatOne Modal -->
<div class="modal fade groupchatOne" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Group Chat</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <h6 style="text-align: center;"></h6>
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message" #scroller [scrollTop]="scroller.scrollHeight">
                                                <li class="user-profile-row" *ngFor="let user of messageList"
                                                    id="user_row_500">
                                                    <div class="user-profile-data">
                                                        <div class="user-profile-image"> <img
                                                                class="img-responsive user-profile-img"
                                                                src="assets/img/user1.jpg" width="32">
                                                        </div>
                                                        <div class="user-profile-info">
                                                            <p class="user-profile-name"><a
                                                                    href="javascript:void(0);">{{user.user_name}}</a>
                                                            </p>
                                                            <p class="user-profile-company">{{user.chat_data}}</p>
                                                        </div>
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="message_input">
                                            <textarea name="message" autocomplete="off"
                                                placeholder="Chat will be shown after moderation"
                                                [formControl]="textMessage"
                                                (keyup.enter)="postMessage(textMessage.value)" maxlength="200"
                                                type="text" id="query" value=""></textarea>
                                        </div>
                                        <button type="submit" class="btn borderBtn SubmitBut"
                                            style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                                            (click)="postMessage(textMessage.value)">Send</button>
                                    </div>
                                    <!-- <div class="col-md-1 col-xl-1">
                                    <div class="online_chat"></div>
                                  </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade quizModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="quiz_section">
                            <div class="popup_header">
                                <h6>{{quizStatus}}</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #f2f4f7;">
                                <div class="row pt-2">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-xl-12">
                                                <div class="text-center" *ngIf="!summaryBoolean">
                                                    <div class="quiz" *ngFor="let quiz of quizlist; let i=index;">
                                                        <div *ngIf="i === index">
                                                            <div id="quizQuestion">
                                                                <span style="font-size:16px;">{{i+1}}.</span>
                                                                {{quiz.question}}
                                                            </div>
                                                            <ul id="list">
                                                                <li *ngFor="let option of quiz.options; let j = index"
                                                                    (click)="nextQuestion(i, j, quiz)">
                                                                    <div class="listOption"
                                                                        [ngStyle]="{'background':(option === quiz.correct_answer)? color : (j === optionIndex)? 'red': noColor }">
                                                                        {{option}}</div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-center" *ngIf="summaryBoolean"
                                                    style="height: 450px; overflow: auto">
                                                    <div class="quiz pl-2 pr-2"
                                                        *ngFor="let summary of summaryList; let x=index;">
                                                        <div>
                                                            <div id="quizQuestion">
                                                                <span style="font-size:16px;">{{x+1}}.</span>
                                                                {{summary.question}}
                                                            </div>
                                                            <ul id="list">
                                                                <li
                                                                    *ngFor="let option of summary.options; let y = index">
                                                                    <div class="listOption"
                                                                        [ngStyle]="{'background': ((summary.correct_answer === summary.your_answer) &&(option === summary.correct_answer))? 'green': (option === summary.your_answer)? 'red': noColor }">
                                                                        {{option}}</div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->