<!-- <div class="h-5">
    <img src="../../assets/img/logo.png" class="p-2" alt="">
    <div class="float-right p-3">
        <div style="color: #f15c25;border: 1px solid #f15c25;padding: 5px; font-weight: 900">#ETSaleStrategy</div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12  px-0 ">
            <img src="assets/video/signup.jpg" class="signup-img" alt="login image">
            <div class="signup-section">
                <div class="text-center pb-2">
                    <img src="assets/video/profile-icon.png" alt="" width="70px">

                </div>
                <!-- <h4 class="pl-3 pt-2"><span style="border-bottom: 2px solid black; font-weight: 600">SIGNUP</span></h4> -->
                <h6 class="pl-3 pt-2 uppercase" *ngIf="msg"><span style="font-weight: 400; color: green;">{{msg}}</span>
                </h6>
                <div class="row" >
                        <!-- <div class="col-6">
                            <h2 class="text-white" style="font-weight: 900;font-size: 35px;">HBT INDIA PARTNER CONFERENCE 2021</h2>
                            <p class="text-white">Event Date: 3rd September 2021</p>
                            <p class="text-white">Event Time: 10:30 am onwards</p>
                        </div> -->
                        <div class="col-12">
                            <form class="pt-2" [formGroup]="signupForm" (ngSubmit)="register()" #formDir="ngForm">
                                <div class="row" style="background-color: #d7362f;
                                border-radius: 30px;
                                padding: 15px;">

                                
                                <div class="col-6">
                                    <h2 class="text-white" style="font-weight: 900;">HBT INDIA PARTNER CONFERENCE 2021</h2>
                                    <p class="text-white" style="margin-bottom: 0rem;">Event Date: 3rd September 2021</p>
                                    <p class="text-white" style="margin-bottom: 0rem;">Event Time: 10:30 am onwards</p>
                                </div>
                                <div class="col-6">
                                    <div class="form-row">
                                        <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
                                            <!-- <label for="formGroupExampleInput">Full Name*</label> -->
                                            <input type="text" formControlName="first_name" value="" placeholder="Full Name">
                                            <div style="color: white;" *ngIf="(signupForm.get('first_name').invalid && formDir.submitted) || (signupForm.get('first_name').dirty && signupForm.get('first_name').invalid)">
                                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                                Name is required*
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
                                            <!-- <label for="formGroupExampleInput">Organisation*</label> -->
                                            <input type="text" formControlName="organisation" value="" placeholder="Organisation">
                                            <div style="color: white;" *ngIf="(signupForm.get('organisation').invalid && formDir.submitted) || (signupForm.get('organisation').dirty && signupForm.get('organisation').invalid)">
                                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                                Organisation is required*
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
                                            <!-- <label for="formGroupExampleInput">Email ID *</label> -->
                                            <input type="email" formControlName="email" value="" placeholder="Email ID">
                                            <div style="color: white;" *ngIf="(signupForm.get('email').invalid && formDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Email must be on the (@sanofi.com & sanofi-india.com) domain</div> -->
                                                Email is required*
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-xl-12 col-sm-12 pt-2">
                                            <!-- <label for="formGroupExampleInput">Phone / Mobile No.*</label> -->
                                            <input type="text" formControlName="mobile" value="" placeholder="Phone / Mobile No.">
                                            <div style="color: white;" *ngIf="(signupForm.get('mobile').invalid && formDir.submitted) || (signupForm.get('mobile').dirty && signupForm.get('mobile').invalid)">
                                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                                Mobile No. is required*
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-12 col-xl-12 col-sm-12 pt-4 pl-4">
                                    <label for="formGroupExampleInput">Headquater*</label>
                                    <input type="text" formControlName="job_title" required>
                                    <div *ngIf="(signupForm.get('job_title').invalid && formDir.submitted) || (signupForm.get('job_title').dirty && signupForm.get('job_title').invalid)">
                                        <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Job title required</div>
    
                                    </div>
                                </div> -->
    
    
    
                                        <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                    <label for="formGroupExampleInput">Token*</label>
                                    <input type="text" formControlName="token">
                                </div> -->
    
                                        <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                    <img [src]="imgURL" height="100" *ngIf="imgURL">
                                </div>
                                <div class="col-md-12 col-xl-12 col-sm-12 pl-4">
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox" name="" value="" (change)="isChecked($event)">
                                        <label for="checkbox"><span>*I agree, By supplying my contact
                                                information.</span></label>
                                    </div>
                                </div> -->
                                        
    
                                    </div>
                                </div>
                                </div>
                                <!-- &nbsp; -->
                                <div class="row mt-2 pb-4">
                                    <!-- <div class="col-md-8 col-xl-8 col-sm-8 pt-2">
                                        <h4 class="login-wrapper-footer-text">
                                            <a routerLink="/login" class="text-reset" style="text-decoration: none;">Click Here</a> to login if already registered</h4>
                                    </div> -->
                                    <div class="col-md-12 col-xl-12 col-sm-12">
                                        <button class="submit-btn" type="submit" style="float: right;">Submit</button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    <!-- </div> -->
                </div>
                <!-- <div class="row pt-3">
                    <div class="col-12">
                        <h4 class="login-wrapper-footer-text">
                            <a routerLink="/login" class="text-reset" style="text-decoration: underline;">Click Here</a> to login if already registered</h4>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

</div>