<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="bg"></div> -->
<!-- <div style="position: relative;  top: -58%;  left: 29%;">
  <vg-player  [ngStyle]="{'width': '14.5%'}">
    <vg-controls [vgAutohide]="true" [vgAutohideTime]="1"> 

      <vg-play-pause></vg-play-pause>
      <vg-time-display ></vg-time-display>
     
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen ></vg-fullscreen>
    </vg-controls>
    <vg-buffering></vg-buffering>
    <video #myMedia [vgMedia]="myMedia"
    preload="auto"  autoplay="true"
     vg-responsive="true"
    type="video/mp4" [src]="exhibiton.video" >
   
    </video>
</vg-player>
</div> -->
<span id="back">
  <a class="nav-link sign" routerLink="/exhibitionHall" title="Back" role="button">
    BACK</a>
</span>
<section>
  <div class="content-wrap">
    <div class="bg_img">
      <img src="{{banner}}" alt="">
    </div>
    <!-- <div class="video" title="Play Video">
      <div class="pulsating-circle" (click)="playGrowBySharingVideo();"></div>
    </div> -->

  </div>
</section>
<!-- <div id="light">
  <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
  <video id="VisaChipCardVideo" [src]="exhibiton.video"  width="600" controls>
  </video>
</div>
<div id="fade" (click)="lightbox_close();"></div> -->
<!-- <div class="video" title="Play Video">
  <div class="pulsating-circle" (click)="playGrowBySharingVideo();"></div>
</div> -->
<!-- <div class="chats" title="Chat with Exhibitors">
  <div class="pulsating-circle" data-toggle="modal" data-target=".liveQuestionModal"></div>
</div>
<div class="docs" title="Show Documents">
  <div class="pulsating-circle" data-toggle="modal" data-target=".docsModal"></div>
</div> -->
<!-- <div class="call" title="Schedule a call" (click)="openCallBox()">
  <div class="pulsating-circle" ></div>
</div> -->
<!-- <div class="info" title="Sales info">
  <div class="pulsating-circle" data-toggle="modal" data-target=".salesModal"></div>
</div> -->

<div class="reception" data-toggle="modal" data-target=".pic5">
  <div class="pulsating-circle" id="reception_pulse"></div>
</div>
<div class="key_portfolio" data-toggle="modal" data-target=".pic6">
  <div class="pulsating-circle" id="frontaudi_pulse"></div>
</div>
<div class="agenda" data-toggle="modal" data-target=".pic7">
  <div class="pulsating-circle" id="agenda_pulse"></div>
</div>
<div class="heighlights" data-toggle="modal" data-target=".pic8">
  <div class="pulsating-circle" id="heighlight_pulse"></div>
</div>
<div class="c5" data-toggle="modal" data-target=".pic9">
  <div class="pulsating-circle" id="c5_pulse"></div>
</div>

<!-- side click points -->

<div class="booth-icons-box">




  <!-- <a *ngIf="videosource !='' && exhibitionName != '286'" class="booth-icon-link" href="javascript:void(0);"
    (click)="playGrowBySharingVideo(exhibiton[0].video);">
    Play video <span><img src="https://eemadday.com/images/booth-icons/Video.svg"></span>
  </a>
  <a *ngIf="exhibitionName == '286'" class="booth-icon-link" href="javascript:void(0);" data-toggle="modal"
    data-target=".videosModal">
    Play video <span><img src="https://eemadday.com/images/booth-icons/Video.svg"></span>
  </a> -->
  <a class="booth-icon-link" href="javascript:void(0);" data-toggle="modal" data-target=".videosModal">
    Play video <span><img src="assets/honeywell/play.png"></span>
  </a>
  <a class="booth-icon-link" href="javascript:void(0);" data-fancybox="" data-toggle="modal" data-target=".docsModal">
    Brochures <span><img src="assets/honeywell/brochure.png"></span>
  </a>

  <a data-fancybox="" data-toggle="modal" data-target=".liveQuestionModal" href="javascript:void(0);"
    class="booth-icon-link">Exhibitor Chat<span><img src="assets/honeywell/chat.png"></span>
  </a>
  <a data-fancybox="" data-toggle="modal" data-target=".enquiryForm" href="javascript:void(0);" class="booth-icon-link">
    Enquiry Form <span><img src="assets/honeywell/form.png"></span>
  </a>

  <!-- <a data-fancybox="" data-toggle="modal" data-target=".salesModal" href="javascript:void(0);" class="booth-icon-link">
    Sales information <span><img src="assets/icons/Briefcase.png"></span>
  </a>
  <a data-fancybox="" href="javascript:void(0);" class="booth-icon-link">
    Card Drop <span><img src="assets/icons/contact.png"></span>
  </a> -->
  <!-- <a class="booth-icon-link" href="javascript:void(0);" data-fancybox="" data-type="ajax" data-src="https://eemadday.com/exhibitors/schedule_call?exhibitor_id=2&amp;stall_id=3">
  <span><img src="https://eemadday.com/images/booth-icons/schedule-call.svg"></span>
             </a> -->
</div>


<!-- <div class="modal fade salesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">sales information</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">

                  <div class="col-md-6" *ngFor="let docs of exhibiton[0].sales">
                    <div class="profile-card">
                      <figure>
                        <i class="fa fa-user"></i>
                      </figure>
                      <h3>{{docs.name}}</h3>
                      <table class="table">
                        <tbody>
                          <tr>
                            <td><i class="fa fa-id-badge"></i>{{docs.position}}</td>
                          </tr>
                          <tr>
                            <td><i class="fa fa-envelope"></i>{{docs.email}}</td>
                          </tr>
                          <tr>
                            <td><i class="fa fa-mobile"></i>{{docs.contact}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>





                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Document Modal -->
<div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">Resources</h6>
                <a class="close" (click)="closePopupdocs()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <div class="chat_box">
                      <ul class="chat_message">
                        <li class="chat_messageList" *ngFor="let docs of document">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar2"> <img src="./assets/img/pdf.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a href="{{docs.url}}" target="_blank" class="checkProfile"> {{docs.title}}</a>
                            </span>

                          </p>

                          <div class="img_avatar_R"> <a href="{{docs.url}}" target="_blank" class="checkProfile">
                              <h4>view</h4>
                            </a></div>
                          <p>
                            <!-- </a> -->
                        </li>

                        <hr>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- live chat modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="position: absolute; bottom: 0px; right: 85px;">
    <div class="modal-content">
      <!-- <div class="container-fluid" id="popup">
      <div class="row">
        <div class="col-md-12 col-xl-12">
          <div class="chat_section">
            <div class="popup_header">
              <h6>Live Chat</h6>
              <a class="close" (click)="closeChat()"></a>
            </div>
            <div class="container-fluid" style="  background: #f2f4f7;">
              <div class="row pt-2">
                <div class="col-md-12 col-xl-12 pl-0">
                  <div class="chat_box">
                    <ul class="chat_message" id="chat_messaged">
                      <li class="chat_messageList" *ngFor="let qa of qaList">
                        <div class="img_avatar"> <img src="../assets/img/default_avatar.png" alt=""></div>

                        <span class="person">
                          <a href="javascript:void(0);" style="font-size: 14px; font-weight: bold; color: #000;"
                            class="checkProfile">{{qa.question}}</a>
                        </span>
                        
                        <div class="text_message">
                          <table>
                            <td> <img src="../assets/img/customer_support.png" *ngIf="qa.answer" alt="" height="25px"
                                width="20px"> &nbsp; &nbsp;</td>
                            <td>
                              <p [innerHTML]="qa.answer"></p>
                            </td>
                          </table>


                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="message_input">
                    <textarea name="message" autocomplete="off" placeholder="Enter your question" [formControl]="textMessage"
                      (keyup.enter)="postQuestion(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                  </div>
                  <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                    (click)="postQuestion(textMessage.value)">Submit</button>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
      <div class="card" id="chatSection" *ngIf="isShow">
        <div class="p-3" style="font-weight: 500; background-color: #da251c; color: white;">Chat with
          {{exhibiton[0].title}}
          <i class="fa fa-times float-right" style="cursor: pointer;" title="Minimize Chat" *ngIf="showchat"
            (click)="hidediv()"></i>
          <i class="fa fa-arrow-up float-right" *ngIf="hidechat" title="Maximize Chat" (click)="show()"></i>
        </div>
        <div class="row" *ngIf="showDiv">
          <div class="col-md-12 col-xl-12 col-sm-12">
            <div id="setChat">
              <div class="card p-2 customPost" *ngFor="let qa of qaList"
                style="border-left: 5px solid cadetblue; margin-bottom: 5px">
                <div id="image_profile" style="padding: 1px 8px;
                ">
                  <span class="profileImage1 card-body" *ngIf="myid != qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name
                                      | slice:0:1}}</span>

                  <div *ngIf="myid != qa.sender_id" id="profile_details1" style="text-align: center;">
                    <div>{{qa.msg}}</div>
                  </div>
                  <span class="profileImage card-body" *ngIf="myid == qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name
                                      | slice:0:1}}</span>
                  <div *ngIf="myid == qa.sender_id" id="profile_detail">
                    <div>{{qa.msg}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pt-3 pb-3 pl-1 pr-1">
              <input class="form-control" [(ngModel)]="msgs" maxlength="60" placeholder="Write something here.."
                [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)" /> <br>
              <button class="btn btn-danger" (click)="postQuestion(textMessage.value)">Send</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>



<div class="modal fade pdfModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>{{documentName}}</h6>
                <a class="close" (click)="closepdf()"></a>
              </div>
              <iframe [src]="document" style="width:100%; height:520px" frameborder='0'>This is an embedded <a
                  target='_blank' href='http://office.com'>Microsoft
                  Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office
                  Online</a>.</iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true"
  style="z-index: 9999;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div> -->
      <div class="modal-body p-0">
        <div id="modal-video">
          <div id="closePopup" (click)="closeModalVideo()">&times;</div>
          <video id="video" preload="auto" [src]="videosource" width="100%" controls>
          </video>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Document Modal -->
<div class="modal fade videosModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">Videos</h6>
                <a class="close" (click)="closePopvideos()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <div class="chat_box">
                      <!-- change by Stall ID -->
                      <ul *ngIf="this.exhibitionName === '642'" class="chat_message">
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/Honeywell_PICV.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile"> Honeywell PICV</a>
                            </span>
                          </p>
                        </li>
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/Honeywell Small and Medium Building Administrator_720P HD.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile">Honeywell Small and Medium Building Administrator</a>
                            </span>
                          </p>
                        </li>
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/Honeywell U-PRISM Updated Video_12-Feb-2021.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile">Honeywell U-PRISM</a>
                            </span>
                          </p>
                        </li>
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/Introducing Honeywell Air Quality Monitor _ Honeywell Sensing & IoT_Full-HD.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile">Introducing Honeywell Air Quality Monitor _ Honeywell Sensing &
                                IoT</a>
                            </span>
                          </p>
                        </li>
                        <hr>
                      </ul>
                      <!-- close -->
                      <!-- change by Stall ID -->
                      <ul *ngIf="this.exhibitionName === '643'" class="chat_message">
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/Nucleus AV.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile">Nucleus AV</a>
                            </span>
                          </p>
                        </li>
                        <hr>
                      </ul>
                      <!-- close -->
                      <!-- change by Stall ID -->
                      <ul *ngIf="this.exhibitionName === '644'" class="chat_message">
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/ECS.m4v');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile">ECS</a>
                            </span>
                          </p>
                        </li>
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/ELS.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile">ELS</a>
                            </span>
                          </p>
                        </li>
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/NOTIFIER INSPIRE Overview Video.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile">NOTIFIER INSPIRE Overview</a>
                            </span>
                          </p>
                        </li>
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/NOTIFIER SELF TEST Overview Video.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile">NOTIFIER SELF TEST Overview</a>
                            </span>
                          </p>
                        </li>
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/HW_CLSS Overview Video.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile">HW_CLSS Overview</a>
                            </span>
                          </p>
                        </li>
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/OSID-R Reflective Imaging Smoke Beam Detector_HD.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile">OSID-R Reflective Imaging Smoke Beam Detector</a>
                            </span>
                          </p>
                        </li>
                        <hr>
                      </ul>
                      <!-- close -->
                      <!-- change by Stall ID -->
                      <ul *ngIf="this.exhibitionName === '645'" class="chat_message">
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/30 Series IP Cameras - Reduce Your Liability With Secure Channel Encryption _ Ho_Full-HD.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile">30 Series IP Cameras - Reduce Your Liability With Secure Channel
                                Encryption</a>
                            </span>
                          </p>

                        </li>
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/Honeywell 60 Series IP Cameras_HD.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile"> Honeywell 60 Series IP Cameras_HD</a>
                            </span>
                          </p>
                        </li>
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/Introducing Honeywell ThermoRebellion Elevated Temperature Detection_Full-HD.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile">Introducing Honeywell ThermoRebellion Elevated Temperature
                                Detection</a>
                            </span>
                          </p>
                        </li>
                        <li class="chat_messageList"
                          (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/honeywell/MaxPro Cloud.mp4');">
                          <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                          <div class="img_avatar"> <img src="assets/lilly/images/video_icon.png" alt=""></div>
                          <p style="    display: inline;">
                            <span class="person">
                              <a class="checkProfile">MaxPro Cloud</a>
                            </span>
                          </p>
                        </li>
                        <hr>
                      </ul>
                      <!-- close -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="socialicons">
  <a target="_blank" *ngIf="exhibiton[0].twitter != ''" href="{{exhibiton[0].twitter}}"><img src="assets/icons/twit.png"
      alt=""></a>
  <a target="_blank" *ngIf="exhibiton[0].youtube != ''" href="{{exhibiton[0].youtube}}"><img
      src="assets/icons/youtube.png" alt=""></a>
  <a target="_blank" *ngIf="exhibiton[0].linkedin_url != ''" href="{{exhibiton[0].linkedin_url}}"><img
      src="assets/icons/linkdin.png" alt=""></a>
  <a target="_blank" *ngIf="exhibiton[0].fb != ''" href="{{exhibiton[0].fb}}"><img src="assets/icons/fbicon.png"
      alt=""></a>
  <a href="{{exhibiton[0].linkedin}}" *ngIf="exhibiton[0].linkedin != ''" target="_blank" rel="noopener noreferrer">
    <i style="    position: absolute;
               right: 14px;
  bottom: 235px;
  font-size: 41px;" class="fa fa-globe"></i>
  </a>
</div> -->
<div class="modal fade pic5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>CREATIVE 3</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="background: #c5c5c5;">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                    <div class="row">
                      <!-- <div class="col-12">
                              <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                            </div> -->
                    </div>
                    <img src="{{this.c2}}" width="100%" height="auto" alt="">
                    <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade pic6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>CREATIVE 2</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="background: #c5c5c5;">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                    <div class="row">
                      <!-- <div class="col-12">
                              <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                            </div> -->
                    </div>
                    <img src="{{this.c4}}" width="100%" height="auto" alt="">
                    <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade pic7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>CREATIVE 4</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="background: #c5c5c5;">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                    <div class="row">
                      <!-- <div class="col-12">
                              <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                            </div> -->
                    </div>
                    <img src="{{this.c1}}" width="100%" height="auto" alt="">
                    <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade pic8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>CREATIVE 1</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="background: #c5c5c5;">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                    <div class="row">
                      <!-- <div class="col-12">
                              <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                            </div> -->
                    </div>
                    <img src="{{this.c3}}" width="100%" height="auto" alt="">
                    <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade pic9" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>CREATIVE 5</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="background: #c5c5c5;">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                    <div class="row">
                      <!-- <div class="col-12">
                              <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                            </div> -->
                    </div>
                    <img src="{{this.c5}}" width="100%" height="auto" alt="">
                    <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade enquiryForm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>Enquiry Form</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="background: #fff;">
                <h6 style="color: green;font-size: 12px;">{{this.msg}}</h6>
                <form [formGroup]="enquiryForm" #formDir="ngForm" (ngSubmit)="enquiry(formDir)">
                  <div class="col-12" style="padding: 20px;">
                    <input type="text" formControlName="name" value="" placeholder="Full Name">
                    <h6 style="color: crimson;font-size: 12px;"
                      *ngIf="(enquiryForm.get('name').invalid && formDir.submitted) || (enquiryForm.get('name').dirty && enquiryForm.get('name').invalid)">
                      <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                      Name is required*
                  </h6><br>
                    <input type="text" formControlName="company" value="" placeholder="Company">
                    <h6 style="color: crimson;font-size: 12px;"
                      *ngIf="(enquiryForm.get('company').invalid && formDir.submitted) || (enquiryForm.get('company').dirty && enquiryForm.get('company').invalid)">
                      <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                      Company is required*
                    </h6><br>
                    <input type="text" formControlName="contact" value="" placeholder="Contact">
                    <h6 style="color: crimson;font-size: 12px;"
                      *ngIf="(enquiryForm.get('contact').invalid && formDir.submitted) || (enquiryForm.get('contact').dirty && enquiryForm.get('contact').invalid)">
                      <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                      Contact is required*
                    </h6><br>
                    <input type="email" formControlName="email" value="" placeholder="Email ID">
                    <h6 style="color: crimson;font-size: 12px;"
                      *ngIf="(enquiryForm.get('email').invalid && formDir.submitted) || (enquiryForm.get('email').dirty && enquiryForm.get('email').invalid)">
                      Email is required*
                    </h6><br><br>
                    <!-- <select name="product" id="product" formControlName="product">
                      <option value="fire">FIRE SAFETY</option>
                      <option value="security">SECURITY SOLUTION</option>
                      <option value="electrical">ELECTRICAL PRODUCTS</option>
                      <option value="bms">BUILDINGS MANAGEMENT SYSTEM</option>
                    </select> -->
                    <h6>PRODUCT CATEGORIES</h6>
                    <input type="checkbox" formControlName="fire" id="fire" name="fire" value="fires">
                    <label for="fire">FIRE SAFETY</label><br>
                    <input type="checkbox" formControlName="security" id="security" name="security" value="security">
                    <label for="security">SECURITY SOLUTION</label><br>
                    <input type="checkbox" formControlName="electrical" id="electrical" name="electrical" value="electrical">
                    <label for="electrical">ELECTRICAL PRODUCTS</label><br>
                    <input type="checkbox" formControlName="bms" id="bms" name="bms" value="bms">
                    <label for="bms">BUILDINGS MANAGEMENT SYSTEM</label><br>
                    <!-- <div style="color: white;"
                      *ngIf="(enquiryForm.get('product').invalid && formDir.submitted) || (enquiryForm.get('product').dirty && enquiryForm.get('product').invalid)">
                      Product category is required*
                    </div> -->
                    <div class="text-center">
                      <button style="    border: 0px solid black;
                      border-radius: 25px;
                      background-color: navy;
                      color: white;
                      padding: 10px;
                      margin-top: 20px;
                      width: 150px;" class="submit-btn text-center" type="submit">Submit</button>
                    </div>
                  

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>