<!-- <div class="bg"></div> -->
<span id="back">
    <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
        BACK</a>
</span>
<section class="sectionBgnew">
    <div class="content-wrap">
        <div class="lobby-bg">
            <img src="assets/honeywell/game.jpg" alt="audi">
        </div>
        <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
            <div class="alert alert-success " role="alert">
                The session is Live now, please join us at the auditorium.
            </div>
          </div>
        <div id="diabetesVideo" data-toggle="modal" data-target="#bubbleShoot">
            <div class="pulsating-circle"></div>
        </div>
        <!-- <div id="cardiologyVideo" (click)="playCardiologyVideo()">
            <div class="pulsating-circle"></div>
        </div> -->
        <div id="hypertensionVideo" data-toggle="modal" data-target="#bikeRacing">
            <div class="pulsating-circle"></div>
        </div>
        <!-- <div id="venousDiseaseVideo" (click)="playVenousDiseaseVideo()">
            <div class="pulsating-circle"></div>
        </div> -->
    </div>
</section>


<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closePopup" (click)="closePopup()">&times;</div>
                    <video id="video" preload="auto" muted autoplay src="{{player}}" width="100%" controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Document Modal -->
<div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="container-fluid" id="popup">
            <div class="row">
              <div class="col-md-12 col-xl-12">
                <div class="chat_section">
                  <div class="popup_header">
                    <h6 style="text-transform: uppercase;">Resources</h6>
                    <a class="close" (click)="closePopupdocs()"></a>
                  </div>
                  <div class="container-fluid" style="  background: #f2f4f7;">
                    <div class="row pt-2">
                      <div class="col-md-12 col-xl-12 pl-0">
                        <div class="chat_box">
                          <ul class="chat_message">
                            <li class="chat_messageList" *ngFor="let docs of document">
                              <!-- <a target="_blank" (click)="getDocument('./assets/img/arise.pdf')"> -->
                              <div class="img_avatar"> <img src="./assets/img/pdf.png" alt=""></div>
                              <p style="    display: inline;">
                                <span class="person">
                                  <a href="{{docs.url}}" target="_blank"  class="checkProfile"> {{docs.title}}</a>
                                </span>
          
                              </p>
                           
                              <div class="img_avatar_R"> <a href="{{docs.url}}" target="_blank"  class="checkProfile"> <h4>view</h4></a></div>
                              <p>
                              <!-- </a> -->
                            </li>
                            
                            <hr>
                          </ul>
                        </div>
          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
  </div>

  <div class="modal fade" id="bubbleShoot" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Game</h6>
                                <a class="close" (click)="closePopupdocs()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                        </div>
                                        <iframe
                                            src="https://previews.customer.envatousercontent.com/files/222579560/index.html"
                                            width="100%" height="615" frameborder="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bikeRacing" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Game</h6>
                                <a class="close" (click)="closePopupdocs()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                        </div>
                                        <iframe style="width:100%" src="https://previews.customer.envatousercontent.com/files/285517295/index.html"
                                            height="550" frameborder='0'></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>