#my_camera{
  width: 320px;
  height: 240px;
  border: 1px solid black;
 }

 .actionBtn {
  font-size: 4em;
  cursor: pointer;
}
.snapshot{
  text-align: center;
  img{
      max-width: 800px;
      max-height: 800px;
  }
}
ul.links{
  padding-bottom: 20px;
}